image: mcr.microsoft.com/playwright:v1.49.1-jammy

stages:
  - build
  - test
  - deploy

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - node_modules/
    - docs/node_modules/

install_dependencies:
  stage: build
  script:
    - npm ci
    - cd docs && npm ci
  artifacts:
    paths:
      - node_modules/
      - docs/node_modules/

lint:
  stage: test
  script:
    - npm run lint
  dependencies:
    - install_dependencies

unit_tests:
  stage: test
  script:
    - npm run test:unit
  dependencies:
    - install_dependencies

integration_tests:
  stage: test
  script:
    - npx playwright install chromium
    - npm test
  variables:
    BASE_URL: https://the-internet.herokuapp.com
    API_BASE_URL: https://jsonplaceholder.typicode.com
  dependencies:
    - install_dependencies
  artifacts:
    when: always
    paths:
      - playwright-report/
      - test-results/
      - allure-results/
    expire_in: 1 week

pages:
  stage: deploy
  script:
    - cd docs
    - npm run build
    - mv build ../public
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
  dependencies:
    - install_dependencies
